{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon site{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.png" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "assets/vendor/css/bootstrap.spacelab.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/css/all.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/dashboard.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">
</head>
<body>

    {% include "parts/_header.html" %}

    <div class="container-fluid">
        <div class="row">

            {% include "parts/_navbar.html" %}
        
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">

                        {% block subtitle %}
                        Dashboard
                        {% endblock subtitle %}

                    </h1>
                    <div class="btn-toolbar mb-2 mb-md-0">

                        <div class="btn-group me-2">
                            {% block button %}{% endblock button %}
                        </div>
                            
                    </div>
                </div>
                {% include "parts/_messages.html" %}

                {% block content %}{% endblock content %}
            
            </main>
        </div>
    </div>

    {% include "parts/_footer.html" %}

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></a>

    <script src="{% static "assets/vendor/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "assets/js/main.js" %}"></script>
</body>
</html>